.arrow {
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
  transform: translate3d(0px, 0px, 0px);

  &:hover {
    .arrow__path {
      fill: $color-primary;
    }
  }

  .no-focus &:focus {
    outline: none;
  }

  &__icon {
    &--next {
      transform: rotate(-180deg);
    }
  }
}
