.contacts {
  background-color: #fafbfb;
  padding-bottom: 150px;

  &__text {
    text-align: center;
  }

  &__link {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    color: rgb(21, 12, 28);
    text-decoration: none;
    display: block;

    &--mobile {
      margin-bottom: 15px;
    }
  }

  &__desc {
    margin-top: 40px;
  }

  &__why {
    font-size: 15px;
    color: rgb(21, 12, 28);
    line-height: 1.6;
    margin-bottom: 6px;
    display: block;
  }

  &__upwork {
    font-size: 15px;
    color: rgba(250, 251, 251, 0.8);
    font-weight: 800;
    line-height: 1.6;
    background-color: #5dc435;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 25px;
  }

  &__subtext {
    font-size: 15px;
    color: rgba(21, 12, 28, 0.8);
    line-height: 1.6;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: rgb(199, 55, 96);
    background-image: linear-gradient(90deg, rgb(199, 55, 96), rgb(77, 34, 109));
    transition: left 0.4s, width 0.4s;

    .error & {
      width: 100%;
      transition: 0.4s;
      left: 0;
      bottom: 0;
      background-color: #fb4646;
      background-image: linear-gradient(90deg, #fb4646, #fb4646);
    }
  }

  &__field {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #150c1c;
    font-size: 16px;
    font-weight: 500;
    color: rgb(21, 12, 28);
    line-height: 1.9;
    font-family: Montserrat, sans-serif;
    width: 100%;
    border-radius: 0;


    &:focus {
      ~ .contacts__focus-border {
        width: 100%;
        transition: 0.4s;
        left: 0;
      }
    }

    .no-focus &:focus {
      outline: none;
    }

    &--textarea {
      overflow: hidden;
      resize: vertical;
      min-height: 50px;
    }
  }

  &__links {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 65px;
  }

  &__row {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
    position: relative;
    width: 100%;

    &--textarea {
      margin-bottom: 40px;
    }
  }

  &__row.error {
    margin-bottom: 35px;
  }

  &__row--textarea.error {
    margin-bottom: 75px;
  }

  &__error {
    font-size: 14px;
    color: rgb(251, 70, 70);
    line-height: 1.714;
    font-weight: 500;
    order: -1;
    letter-spacing: -1px;
    display: none;
    height: 25px;
    position: absolute;
    left: 3px;
    bottom: -35px;
  }

  .error .contacts__error {
    display: block;
  }

  &__btn {
    font-size: 16px;
    color: rgb(77, 34, 109);
    border: 2px solid rgb(77, 34, 109);
    padding: 13px 30px;
    border-radius: 25px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    background-color: transparent;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: #360d55;
      color: white;
    }

    .no-focus &:focus {
      outline: none;
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 500;
    color: rgb(21, 12, 28);
    line-height: 1.714;
    display: block;
    margin-bottom: 5px;
  }

  &__strong {
    font-weight: 700;
    color: #684185;
  }

  &__form {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__subtitle {
    font-size: 30px;
    color: rgb(199, 55, 96);
    line-height: 1.2;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 15px;

    @supports (-webkit-background-clip: text) {
      background: linear-gradient(90deg, rgb(199, 55, 96), rgb(77, 34, 109));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      white-space: nowrap;
    }
  }
}

@media (min-width: $responsive-mobile) {
  .contacts {
    padding-bottom: 200px;

    &__container {
      padding-left: 70px;
      padding-right: 70px;
    }

    &__link {
      font-size: 30px;
      line-height: 1;

      &--mobile {
        margin-bottom: 25px;
      }
    }

    &__row {
      &--half {
        width: 47%;
      }
    }
  }
}

@media (min-width: $responsive-tablet) {
  .contacts {
    &__container {
      padding-right: 100px;
      padding-left: 100px;
    }

    &__links {
      padding-top: 0;
      margin-bottom: 95px;
    }

    &__link {
      &--mobile {
        margin-bottom: 20px;
      }
    }

    &__form {
      margin-top: 60px;
    }

    &__row {
      margin-bottom: 15px;

      &--textarea {
        margin-bottom: 45px;
      }

      &--name,
      &--half {
        width: 28%;
      }
    }
  }
}

@media (min-width: $responsive-desktop) {
  .contacts {
    &__container {
      padding-left: 40px;
      padding-right: 40px;
    }

    &__wrap {
      display: flex;
      align-items: flex-start;
    }

    &__text {
      text-align: left;
    }

    &__desc {
      text-align: left;
      margin-top: 65px;
    }

    &__links {
      margin-bottom: 0;
    }

    &__why {
      text-align: left;
      margin-left: 70px;
    }

    &__upwork {
      margin-left: 70px;
    }

    &__main {
      padding-left: 170px;
      width: 100%;
    }

    &__link {
      text-align: left;
      font-size: 30px;
      line-height: 0.8;
    }
  }
}
