.contacts {
  background-color: #fafbfb;

  &__text {
    text-align: center;
  }

  &__link {
    font-weight: 800;
    font-size: 30px;
    color: rgb(21, 12, 28);
    line-height: 0.8;
    text-decoration: none;
    display: block;
  }
}

@media (min-width: $responsive-desktop) {
  .contacts {
    &__text {
      text-align: left;
    }
  }
}
