.service {
  padding-top: 135px;
  text-align: center;
  background-color: $bg-light;
  padding-bottom: 100px;

  &__number {
    font-weight: 900;
    font-size: 30px;
    color: rgb(255, 255, 255);
    line-height: 40px;
    background-color: $color-secondary;
    width: 40px;
    height: 40px;
    margin-bottom: 33px;
    margin-left: 90px;
    position: relative;
    text-indent: 3px;
    transition: background-color 0.2s;

    &::after {
      position: absolute;
      top: -70px;
      left: -133px;
      font-size: 100px;
      color: rgba(228, 226, 230, 0.502);
      line-height: 1.2;
      font-weight: 300;
    }

    &::before {
      content: '';
      position: absolute;
      top: -70px;
      left: -125px;
      background-color: #fff;
      height: 100px;
      width: 30px;
      z-index: 1;
    }

    &--1 {
      &::after {
        content: '01';
      }
    }

    &--2 {
      &::after {
        content: '02';
      }
    }

    &--3 {
      &::after {
        content: '03';
      }
    }

    &--4 {
      &::after {
        content: '04';
      }
    }

    &--5 {
      &::after {
        content: '05';
      }
    }

    &--6 {
      &::after {
        content: '06';
      }
    }
  }

  &__text {
    font-size: 15px;
    color: rgba(21, 12, 28, 0.8);
    font-weight: bold;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 150px;
    text-align: left;

    &--big {
      max-width: 190px;
    }
  }

  &__list {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 35px;
    padding-left: 35px;
    height: 250px;
    list-style: none;
    background-color: #fff;
    box-shadow: -0.5px 5px 10px 0 rgba(158, 188, 201, 0.2);
    margin-bottom: 10px;
    border-left: 10px solid #ffffff;
    transition: all 0.2s;
    cursor: pointer;
    position: relative;
    z-index: 2;

    &:hover {
      z-index: 3;
      border-left-color: $color-secondary;
      box-shadow: -5px 50px 40px 0 rgba(219, 223, 229, 1);

      .service__number {
        background-color: $color-primary;
      }

      .service__text {
        color: #c73760;

        @supports (-webkit-background-clip: text) {
          color: inherit;
          background: linear-gradient(90deg,#c73760,#4d226d);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $responsive-mobile) {
  .service {
    &__item {
      width: calc(50% - 5px);

      &:nth-child(2n) {
        margin-left: 10px;
      }
    }

    &__list {
      padding-left: 0;
      padding-right: 0;
      justify-content: space-between;
    }
  }
}

@media (min-width: $responsive-tablet) {
  .service {
    &__item {
      height: 195px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      margin-bottom: 20px;
    }

    &__number {
      margin-bottom: 28px;
      margin-left: 95px;

      &::before,
      &::after {
        left: -125px;
        top: -80px;
      }
    }

    &__text {
      margin-left: 60px;
      margin-bottom: 25px;
    }
  }
}

@media (min-width: $responsive-desktop) {
  .service {
    text-align: left;

    &__text {
      margin-bottom: 45px;
      max-width: 100%;
    }
  }
}
