.testimonials {
  background-color: #fafbfb;
  padding-top: 130px;
  padding-bottom: 140px;
  text-align: center;

  &__container {
    position: relative;
  }

  &__slider {
    padding-bottom: 70px;
    text-align: left;
  }

  &__logo {
    position: absolute;
    top: 26px;
    left: 0;
    z-index: -1;
    width: 280px;
    height: 280px;
    overflow: hidden;

    svg {
      position: relative;
      left: -10px;
      width: 300px;
      height: 300px;
    }
  }

  &__path {
    position: relative;
    left: -10px;
    fill: #f0fbec;
    transition: all 1s;
  }

  &__item {
    width: 280px;
    background-color: #ffffff;
    min-height: 290px;
    padding: 100px 25px 50px 25px;
    position: relative;
    margin: 0;
    transition: all 1s;

    &:focus {
      outline: none;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: calc(50% - 20px);
      border-top: 10px solid #fff;
      transition: all 1s;
      border-right: 30px solid transparent;
    }
  }

  &__item.slick-slide {
    transform: scale(.8) translateX(90%);
    z-index: 1;
  }

  &__item.slick-current {
    background-color: #150c1c;
    transform: scale(1) translateX(0);
    z-index: 2;

    &::after {
      border-top-color: #150c1c;
    }

    .testimonials__path {
      fill: #2d2533;
    }
  }

  &__item.slick-current ~ .slick-slide {
    transform: translate3d(35px,25px,0) scale(0.8);
  }

  &__name {
    font-size: 24px;
    color: rgba(21, 12, 28, 0.6);
    font-weight: bold;
    line-height: 1;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;

    &::after {
      content: '';
      position: absolute;
      top: -50px;
      left: 0;
      height: 34px;
      width: 34px;
      background-color: #6eda44;
      border-radius: 50%;
      background-image: url("../img/upwork-icon.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__comment {
    font-size: 14px;
    color: rgba(21, 12, 28, 0.4);
    line-height: 1.714;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__arrow {
    background-color: transparent;
    top: calc(100% - 18px);

    &.slick-disabled {
      opacity: 0.8;
      &:hover {
        .arrow__path {
          fill: #6e6a71;
        }
      }
    }

    &--prev {
      left: calc(50% - 140px);
    }

    &--next {
      right: calc(50% - 140px);
    }
  }

  &__nav {
    font-size: 14px;
    color: rgb(21, 12, 28);
    line-height: 1.714;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10px);
  }


  .slick-track {
    max-width: 100%!important;
    transform: translate3d(0, 0, 0)!important;
  }

  .slick-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%!important;
    transition: all 1s;
    transform: translate3d(-35px, 25px, 0) scale(0.8);
  }

  .slick-current {
    position: relative;
    animation-duration: 1s;
    animation-name: slidein;
    animation-fill-mode: both;
    display: block;
    transform: scale(1);

    .testimonials {
      &__name {
        color: rgb(250, 251, 251);
      }

      &__comment {
        color: rgba(250, 251, 251, 0.8);
      }
    }

    .testimonials__path {
      fill: #2d2533;
    }
  }

  &__range {
    -webkit-appearance: none;
    width: $width-of-range;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: -4px;

    &:focus {
      outline: none;
    }

    &-wrap {
      height: 10px;
      display: none;
      align-items: center;
    }
  }

  .slick-list {
    overflow: visible!important;
  }
}

.testimonials__range::-webkit-slider-runnable-track {
  width: $width-of-range;
  height: 2px;
  cursor: pointer;
  transition: all 0.2s;
  background: #e2e3e3;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

.testimonials__range::-webkit-slider-thumb {
  box-shadow: none;
  border: none;
  height: 5px;
  width: $width-of-range / $count-of-sliders;
  border-radius: 0;
  background: #4d226d;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1.6px;
}
.testimonials__range:focus::-webkit-slider-runnable-track {
  background: #e2e3e3;
}

.testimonials__range::-moz-range-track {
  width: $width-of-range;
  height: 2px;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: none;
  background: #e2e3e3;
  border-radius: 0;
  border: none;
}
.testimonials__range::-moz-range-thumb {
  box-shadow: none;
  border: none;
  height: 5px;
  width: $width-of-range / $count-of-sliders;
  border-radius: 0;
  background: #4d226d;
  cursor: pointer;
}
.testimonials__range::-ms-track {
  width: $width-of-range;
  height: 2px;
  cursor: pointer;
  transition: all 0.2s;
  background: none;
  border: none;
  color: transparent;
  box-shadow: none;
  margin: 0;
}
.testimonials__range::-ms-fill-lower {
  background: #e2e3e3;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.testimonials__range::-ms-fill-upper {
  background: #e2e3e3;
  border: 0 solid #000101;
  border-radius: 0;
  box-shadow: none;
}
.testimonials__range::-ms-thumb {
  box-shadow: none;
  border: 0 solid #000000;
  height: 5px;
  width: $width-of-range / $count-of-sliders;
  border-radius: 0;
  background: #4d226d;
  cursor: pointer;
  padding: 0;
}
.testimonials__range:focus::-ms-fill-lower {
  background: #e2e3e3;
}
.testimonials__range:focus::-ms-fill-upper {
  background: #e2e3e3;
}


@media (min-width: $responsive-mobile) {
  .testimonials {
    padding-bottom: 190px;

    &__logo {
      svg {
        width: 290px;
        height: 290px;
      }
    }

    &__comment {
      margin-top: 20px;
      margin-left: 70px;
    }

    &__name {
      &::after {
        top: 40px;
        height: 40px;
        width: 40px;
      }

      &::before {
        content: '\201C';
        position: absolute;
        top: -45px;
        left: 0;
        height: 40px;
        width: 40px;
        color: #fff;
        font-size: 78px;
      }
    }

    &__nav {
      transform: translate(-50%,35px);
    }

    &__item {
      background-size: 300px;
      background-position-y: 20px;
      background-position-x: -18px;
      padding: 35px 60px 50px 30px;

      &.slick-current~.slick-slide {
        transform: translate3d(95px,25px,0) scale(0.8);

        &:nth-last-child(1) {
          z-index: 2;
        }

        &:nth-last-child(2) {
          z-index: 3;
        }

        &:nth-last-child(3) {
          z-index: 4;
        }
      }
    }

    &__range-wrap {
      display: flex;
    }

    &__arrow {
      &--prev {
        left: calc(50% - 200px);
      }

      &--next {
        right: calc(50% - 200px);
      }
    }

    .slick-list {
      padding: 0 50px !important;
      margin-bottom: 10px;
    }

    .slick-slide {
      transform: translate3d(-95px, 25px, 0) scale(0.8);
    }

    .slick-current {
      transform: scale(1);
    }
  }
}

@media (min-width: $responsive-tablet) {
  .testimonials {
    padding-bottom: 170px;

    .slick-list {
      margin-bottom: 0;
    }

    &__comment {
      margin-left: 135px;
    }

    &__text {
      margin-bottom: 90px;
    }

    .slick-slide {
      transform: translate3d(-140px,10px,0) scale(.8);
    }

    &__item {
      box-shadow: -5px 50px 40px 0px rgba(219, 223, 229, 1);

      &.slick-current {
        box-shadow: none;
        transform: scale(1);

        ~ .slick-slide {
          transform: translate3d(140px,10px,0) scale(.8);
        }
      }
    }
  }
}

@media (min-width: $responsive-desktop) {
  .testimonials {
    text-align: left;
    padding-top: 115px;
    padding-bottom: 140px;

    .slick-list {
      padding: 0 195px!important;
    }

    &__item {
      &.slick-slide {
        &:not(.slick-current) {
          transform: translate3d(-165px,6px,0) scale(.8);
        }
        &:first-child:not(.slick-current) {
          transform: translate3d(-330px,10px,0) scale(.65);
        }
      }

      &.slick-current {
        transform: scale(1);
      }

      &.slick-current~.slick-slide {
        transform: translate3d(165px,6px,0) scale(.8);
        &:last-child {
          transform: translate3d(330px,10px,0) scale(.65);
        }
      }
    }

    &__arrow {
      &--prev {
        left: calc(50% - 200px);
      }

      &--next {
        right: calc(50% - 200px);
      }
    }
  }
}

@keyframes slidein {
  100% {
    z-index: 20;
  }
}
