body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  background-color: #191919;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 20px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;

  &--main {
    background-repeat: no-repeat;
    background-image: url("../img/face.png");
    background-position: -100px 135px;
    padding-top: 95px;
    padding-bottom: 70px;
    position: relative;
  }
}

.title {
  font-size: 16px;
  font-weight: 900;
  color: $color-secondary;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    background-color: #a952a5;
    top: 1px;
    left: -10px;
    height: 12px;
    width: 4px;
  }
}

.text {
  font-size: 36px;
  font-weight: 300;
  color: rgb(21, 12, 28);
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 40px;
}

@media (min-width: $responsive-mobile) {
  .container {
    padding-left: 15px;
    padding-right: 15px;

    &--main {
      background-position: 25px 120px;
      padding-top: 190px;
    }
  }
}

@media (min-width: $responsive-tablet) {
  .container {
    &--main {
      padding-top: 215px;
    }
  }
}

@media (min-width: $responsive-desktop) {
  .container {
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 35px;
    padding-left: 35px;

    &--main {
      padding-top: 210px;
      background-position: 55px 170px;
    }
  }
}
